API_GATEWAY_PORT=3000
USERS_SERVICE_HOST=127.0.0.1
USERS_SERVICE_PORT=4001
BOOKS_SERVICE_HOST=127.0.0.1
BOOKS_SERVICE_PORT=4002
ORDERS_SERVICE_HOST=127.0.0.1
ORDERS_SERVICE_PORT=4003
MICROSERVICE_TIMEOUT_MS=5000
